/* Стиль для всего body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Стиль для заголовка h1 */
h1 {
    text-align: center;
    color: #333;
    margin-top: 40px;
}

/* Стиль для таблицы */
table {
    margin: 0 auto;/* Убираем внешние отступы */
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 0;/* Добавляем выравнивание таблицы влево */
}

/* Стиль для заголовка таблицы */
th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;/* Добавляем выравнивание текста влево */
}

/* Стиль для ячеек таблицы */
td {
    padding: 10px;
    text-align: left;/* Добавляем выравнивание текста влево */
}

/* Стиль для каждой четной строки в таблице */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Стиль для каждой нечетной строки в таблице */
tr:nth-child(odd) {
    background-color: #e6e6e6;
}

/* Стиль для ссылки */
a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}