<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feedback Details</title>
    <link rel="stylesheet" type="text/css" href="../static/stylelogin.css">

</head>
<body>
<section th:replace="fragments/EmailRedirect :: Code"></section>

<section th:replace="fragments/LoginRedirect :: content"></section>
<nav th:replace="~{fragments/NavigationBar :: navbar}"></nav>
<nav th:if="${role != 'admin'}">
    <script th:src="@{/js/redirect.js}"></script>
    <script th:if="${session.username == null}">
        window.location.href = '/index';
    </script>
</nav>

<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
        <!-- Table header content goes here if needed -->
        </thead>
        <tbody>
        <tr th:each="feedback : ${feedBackListAll}">
            <td>
                <strong>ID:</strong>
                <span th:text="${feedback.id}"></span>
            </td>
            <td>
                <div>
                    <strong>Username:</strong>
                    <span th:text="${feedback.username}"></span>
                </div>
                <div>
                    <strong>Title:</strong>
                    <span th:text="${feedback.title}"></span>
                </div>
                <div>
                    <strong>Message:</strong>
                    <span th:text="${feedback.message}"></span>
                </div>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/edit-feedback/{id}(id=${feedback.id})}">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
