<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/stylelogin.css">
<section th:replace="fragments/LoginRedirect :: content"></section>
<section th:replace="fragments/EmailRedirect :: Code"></section>


<nav th:replace="~{fragments/NavigationBar :: navbar}"></nav>
<head>
    <meta charset="UTF-8">
    <title>Простой чат</title>
    <style>
        /* Стили для чата */
        #chatContainer {
            width: 400px;
            margin: 0 auto;
        }
        #chatMessages {
            border: 1px solid #ccc;
            padding: 10px;
            height: 200px;
            overflow-y: scroll;
        }
        
    </style>

</head>
<body>

<div id="chatContainer">
    <form onsubmit="sendMessage(event)">
        <p>Username: <span id="username" th:text="${username}"></span></p>
        <p>userAddress: <span id="userAddress" th:text="${userAddress}"></span></p>

        <input type="text" id="userMessage" placeholder="Введите сообщение">
        <button type="submit">Отправить</button>
    </form>
    <div id="chatMessages">
        <!-- Thymeleaf: отобразить сохраненные сообщения -->
    </div>

</div>

<script>
    function sendMessage(event) {
        event.preventDefault();

        const userName = document.querySelector("#username").innerText;
        const userMessage = document.getElementById("userMessage").value;
        const imageFile = document.getElementById("image").files[0];

        if (userName && userMessage) {
            const messageElement = document.createElement("div");
            messageElement.textContent = `${userName}: ${userMessage}`;
            document.getElementById("chatMessages").appendChild(messageElement);

            // Очистка поля для ввода сообщения
            document.getElementById("userMessage").value = "";

            const formData = new FormData();
            formData.append('message', userMessage);
            formData.append('sender', userName);
            if (imageFile) {
                formData.append('image', imageFile);
            }

            // Отправить сообщение на сервер через fetch
            sendMessageToServer(formData);
        }
    }

    function sendMessageToServer(formData) {
        fetch('/sendBunkerMessage', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Server response:', data);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function updateChat() {
        const nearestAddress = document.getElementById("userAddress").textContent;

        fetch('/getAllBunkerMessages')
            .then(response => response.json())
            .then(data => {
                const chatMessages = document.getElementById('chatMessages');
                chatMessages.innerHTML = '';

                data.forEach(message => {
                    if (message.nearestAddress === nearestAddress) {
                        const messageElement = document.createElement('div');
                        messageElement.textContent = `${message.sender}: ${message.userMessage}`;
                        chatMessages.appendChild(messageElement);
                    }
                });
            })
            .catch(error => console.error('Error fetching messages:', error));
    }

    function displayMessages() {
        const nearestAddress = document.getElementById("userAddress").textContent;

        fetch('/getAllBunkerMessages')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const chatMessages = document.getElementById('chatMessages');
                chatMessages.innerHTML = '';  // Очищаем предыдущие сообщения

                // Отобразить новые сообщения
                data.forEach(message => {
                    if (message.nearestAddress === nearestAddress) {
                        const messageElement = document.createElement('div');
                        messageElement.textContent = `${message.sender}: ${message.userMessage}`;
                        chatMessages.appendChild(messageElement);
                    }
                });
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    displayMessages();

    // Обновлять чат каждые 5 секунд
    setInterval(updateChat, 5000);
</script>

</body>
</html>
