<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/stylelogin.css">
<section th:replace="fragments/LoginRedirect :: content"></section>
<section th:replace="fragments/EmailRedirect :: Code"></section>

<section th:replace="fragments/AddressRedirect :: address"></section>


<nav th:replace="~{fragments/NavigationBar :: navbar}"></nav>
<head>

    <meta charset="UTF-8">
    <title>Простой чат</title>
    <style>
        /* Стили для чата */
        #chatContainer {
            width: 400px;
            margin: 0 auto;
        }
        #chatMessages {
            border: 1px solid #ccc;
            padding: 10px;
            height: 200px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>

<div id="chatContainer">
    <form onsubmit="sendMessage(event)">
        <p>Username: <span id="username" th:text="${username}"></span></p>
        <input type="text" id="userMessage" placeholder="Введите сообщение">
        <input type="file" id="imageInput" accept="image/*">
        <button type="submit">Отправить</button>
    </form>
    <div id="chatMessages">
        <!-- Thymeleaf: отобразить сохраненные сообщения -->
        <div th:each="message : ${messages}">
            <div class="message">
                <span th:text="${message.sender}"></span>: <span th:text="${message.userMessage}"></span>
                <img th:if="${message.imagePath}" th:src="${message.imagePath}" alt="Image"/>
                <button th:if="${role == 'admin'}" onclick="deleteMessage('${message.id}')">Удалить</button>
            </div>
        </div>
    </div>
    <div id="isAdmin"></div>
</div>

<script>
    function deleteMessage(messageId) {
        const confirmed = confirm('Вы уверены, что хотите удалить сообщение?');
        if (confirmed) {
            // Заменяем {id} на фактический messageId
            const url = `/messages/${messageId}`;

            // Отправляем запрос на удаление сообщения
            fetch(url, {
                method: 'DELETE'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // Прочитаем JSON-ответ
                    return response.json();
                })
                .then(data => {
                    // Обработка успешного ответа от сервера
                    console.log('Server response:', data);
                    // Теперь обновите интерфейс, например, удалив сообщение из UI
                    removeMessageFromUI(messageId);
                })
                .catch(error => console.error('Error:', error));
        }
    }
    function sendMessage(event) {
        event.preventDefault();

        const userName = document.querySelector("#username").innerText;
        const userMessage = document.getElementById("userMessage").value;
        const imageInput = document.getElementById("imageInput");
        const image = imageInput.files[0];

        const messageElement = document.createElement("div");
        messageElement.classList.add("message");

        let messageContent = '';
        if (userName) {
            messageContent += `${userName}: `;
        }
        if (userMessage) {
            messageContent += `${userMessage}`;
        }

        // Добавляем текст сообщения
        messageElement.textContent = messageContent;

        // Добавляем изображение, если оно есть
        if (image) {
            const imageElement = document.createElement("img");
            imageElement.src = URL.createObjectURL(image);
            messageElement.appendChild(imageElement);
        }

        document.getElementById("chatMessages").appendChild(messageElement);
        document.getElementById("userMessage").value = "";
        imageInput.value = "";

        // Вызываем функцию для отправки данных на сервер
        sendToServer(userName, userMessage, image);
    }

    function sendToServer(userName, userMessage, image) {
        const formData = new FormData();
        formData.append('message', userMessage);
        formData.append('sender', userName);

        // Добавляем изображение, если оно есть
        if (image) {
            formData.append('image', image, image.name);
        }

        fetch('/sendMessage', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Server response:', data);
                updateChat();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function updateChat() {
        let admin;
        fetch('/user/getUserRole')
            .then(response => {
                if (response.ok) {
                   admin = true;
                }
                return response.text();  // Возвращаем строку, представляющую роль пользователя
            })
        fetch('/getAllMessages')
            .then(response => response.json())
            .then(data => {
                const chatMessages = document.getElementById('chatMessages');
                chatMessages.innerHTML = '';

                data.forEach(message => {
                    const messageElement = document.createElement('div');
                    messageElement.classList.add('message');
                    messageElement.textContent = `${message.sender}: ${message.userMessage}`;

                    if (message.imagePath) {
                        const imageElement = document.createElement('img');
                        imageElement.src = '/' + message.imagePath;  // Используем относительный путь
                        imageElement.alt = 'Image';
                        messageElement.appendChild(imageElement);
                    }
                    if (admin) {
                        const deleteButton = document.createElement('button');
                        deleteButton.textContent = 'Удалить';
                        deleteButton.onclick = () => deleteMessage(message.id);
                        messageElement.appendChild(deleteButton);
                    }

                    chatMessages.appendChild(messageElement);
                });
            })
            .catch(error => console.error('Error fetching messages:', error));
    }

    function displayMessages() {
        fetch('/getAllMessages')
            .then(response => response.json())
            .then(data => {
                const chatMessages = document.getElementById('chatMessages');
                chatMessages.innerHTML = '';

                data.forEach(message => {
                    const messageElement = document.createElement('div');
                    messageElement.classList.add('message');
                    messageElement.textContent = `${message.sender}: ${message.userMessage}`;

                    if (message.imagePath) {
                        const imageElement = document.createElement('img');
                        imageElement.src = '/' + message.imagePath;  // Используем относительный путь
                        imageElement.alt = 'Image';
                        messageElement.appendChild(imageElement);
                    }

                    // Предположим, что у вас есть функция, которая возвращает роль пользователя
                     // Замените на логику получения роли пользователя
                    if (isAdmin) {
                        const deleteButton = document.createElement('button');
                        deleteButton.textContent = 'Удалить';
                        deleteButton.onclick = () => deleteMessage(message.id);
                        messageElement.appendChild(deleteButton);
                    }

                    chatMessages.appendChild(messageElement);
                });
            })
            .catch(error => console.error('Error fetching messages:', error));
    }

   // displayMessages();
       updateChat();
    // Обновлять чат каждые 5 секунд
    setInterval(updateChat, 5000);

    const isAdminElement = document.getElementById('isAdmin'); // Элемент, где вы хотите отобразить роль
    const apiUrl = '/user/getUserRole';

    fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();  // Возвращаем строку, представляющую роль пользователя
        })
        .then(data => {
            // Обработка успешного ответа от сервера
            const isAdmin = data === 'admin'; // Предполагаем, что роль 'admin' означает администратора
            isAdminElement.innerText = isAdmin ? 'Администратор' : 'Пользователь';
        })
        .catch(error => {
            // Обработка ошибок
            console.error('There was a problem with the fetch operation:', error);
        });
</script>

</body>
</html>
