<!DOCTYPE html>
<html>
<head>
  <li><a href="/">вернутся на Главную</a></li>

  <title>Сохранение и сравнение координат</title>
</head>
<body>

<h1>Сохранение и сравнение координат</h1>


<!-- Форма для сохранения координат -->
<h2>Сохранить координаты</h2>
<form id="saveForm">
  <label for="saveLatitude">Широта:</label>
  <input type="number" id="saveLatitude" name="latitude" step="any" required><br>

  <label for="saveLongitude">Долгота:</label>
  <input type="number" id="saveLongitude" name="longitude" step="any" required><br>

  <button type="submit">Сохранить</button>
</form>

<!-- Форма для сравнения координат -->
<h2>Сравнить координаты</h2>
<form id="compareForm">
  <label for="compareLatitude">Широта:</label>
  <input type="number" id="compareLatitude" name="latitude" step="any" required><br>

  <label for="compareLongitude">Долгота:</label>
  <input type="number" id="compareLongitude" name="longitude" step="any" required><br>

  <button type="submit">Сравнить</button>
</form>

<div id="comparisonResult"></div>

<script>
  // Обработчик для сохранения координат
  document.getElementById("saveForm").addEventListener("submit", function(event) {
    event.preventDefault();

    const saveLatitude = document.getElementById("saveLatitude").value;
    const saveLongitude = document.getElementById("saveLongitude").value;

    const saveData = { latitude: parseFloat(saveLatitude), longitude: parseFloat(saveLongitude) };

    fetch('/api/coordinates', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(saveData)
    })
            .then(response => response.text())
            .then(result => {
              alert(result);
            });
  });

  // Обработчик для сравнения координат
  document.getElementById("compareForm").addEventListener("submit", function(event) {
    event.preventDefault();

    const compareLatitude = document.getElementById("compareLatitude").value;
    const compareLongitude = document.getElementById("compareLongitude").value;

    const compareData = { latitude: parseFloat(compareLatitude), longitude: parseFloat(compareLongitude) };

    fetch('/api/compare_coordinates', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(compareData)
    })
            .then(response => response.text())
            .then(result => {
              document.getElementById("comparisonResult").textContent = result;
            });
  });
</script>
</body>
</html>
