<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/stylelogin.css">
</head>
<body>
<section th:replace="~{fragments/LoginRedirect :: content}"></section>
<section th:replace="fragments/AddressRedirect :: address"></section>


<nav th:replace="~{fragments/NavigationBar :: navbar}"></nav>

<h2>Обратная связь</h2>
<form th:action="@{/feedBackSent}" method="post">
<label for="title">Заголовок темы:</label>
<input type="text" id="title" name="title" class="input-field">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" th:value="${session.username}" readonly required><br><br>

    <label for="message">Сообщение:</label><br>
    <textarea id="message" name="message" rows="5" cols="40" required></textarea><br><br>

    <button type="submit">Отправить</button>
</form>

</script>
</body>
</html>