<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ближайший бункер</title>
  <link rel="stylesheet" type="text/css" href="../static/stylelogin.css">
</head>
<body>
<button th:if="${role == 'admin'}">Перейти на следующую страницу<a href="/adminFeedBack">секретная админ панель</a></button>
<nav>
  <ul>
    <li><a href="/">Главная</a></li>
    <li th:unless="${session.username != null}" id="loginLink"><a href="/login">Вход</a></li>
    <li th:unless="${session.username != null}"><a href="/register">Регистрация</a></li>
    <li><a href="/map">интерактивная карта</a></li>
    <li><a href="/kabinet">личный кабинет</a></li>
    <li><a href="/feedBack"> FeedBack </a></li>
    <li><a href="/adminFeedBack"> adminFeedBack </a></li>

  </ul>
</nav>
<h1>Ближайший бункер - <span th:text="${userAddress}"></span></h1>

<table>
  <thead>
  <tr>
    <th>друзья по бункеру</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${FriendList}">
    <td>
      <a th:href="@{/user/{id}(id = ${user.id})}" th:text="${user.username}"></a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
