<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Форма входа</title>
  <link rel="stylesheet" type="text/css" href="../static/stylelogin.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Главная</a></li>
    <li th:unless="${session.username != null}" id="loginLink"><a href="/login">Вход</a></li>
    <li th:unless="${session.username != null}"><a href="/register">Регистрация</a></li>
    <li><a href="/map">интерактивная карта</a></li>
    <li><a href="/kabinet">личный кабинет</a></li>
  </ul>
</nav>


<h2>Вход</h2>
<form th:action="@{/login}" method="post">
  <div>
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username">
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password">
  </div>
  <button type="submit">Войти</button>
</form>
</body>
</html>
