<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Форма входа</title>
  <link rel="stylesheet" type="text/css" href="../static/stylelogin.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .message-box {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 20px;
    }
  </style>
</head>
<body>

<nav th:replace="~{fragments/NavigationBar :: navbar}"></nav>

<h2>Вход</h2>
<form th:action="@{/login}" method="post">
  <div>
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username">
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password">
  </div>
  <button type="submit">Войти</button>
</form>

<!-- Отображение сообщения об ошибке -->
<div th:if="${error}" class="alert alert-danger" role="alert">
  <strong>Error:</strong> <span th:text="${error}"></span>
</div>
<div th:if="${message}" class="alert alert-info" role="alert">
  <strong>Сообщение:</strong> <span th:text="${message}"></span>
</div>

<!-- Bootstrap модальное окно -->
<div class="modal" tabindex="-1" role="dialog" id="errorModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ошибка входа</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="errorMessage">
        <!-- Сообщение об ошибке будет выведено сюда -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<!-- Подключение jQuery и Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Скрипт для отображения модального окна с сообщением -->
<script th:inline="javascript">
  var errorMessage = /*[[${error}]]*/ '';

  // Проверка наличия errorMessage и отображение модального окна
  $(document).ready(function() {
    if (errorMessage && errorMessage !== '') {
      $('#errorMessage').text(errorMessage);
      $('#errorModal').modal('show');
    }
  });
</script>

</body>
</html>
