<!DOCTYPE html>
<html>
<head>
    <title>Отображение адресов на карте</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=8357b4a6-e8d0-4242-9797-06cb372b417e&lang=ru_RU"></script>
    <link rel="stylesheet" type="text/css" href="../static/map.css">
</head>
<body>
<div id="map" style="width: 800px; height: 600px"></div>
<div>
    <label for="addressInput">Введите адрес:</label>
    <input type="text" id="addressInput">
    <button onclick="geocodeAndAddMarkerFromInput()">Получить координаты</button>
</div>
<div id="coordinatesOutput"></div>
<script>
    var myMap;
    var placemarks = [];
    function initMap() {
        myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 10
        });
        var addresses = [
            "Москва, Россия, Валдайский пр., 16",
            "Россия, Москва, посёлок Коммунарка, 33",
            "Россия, Москва, Щербинка, Театральная улица, 1А",
            "Россия, Москва, Зелёный проспект, 22",
            "Россия, Москва, дачный посёлок Кокошкино, Московская улица, 6",
            "Троицк, Россия, Физическая ул., 5",
            "Россия, Москва, Зеленоград, к907Б",
            "Россия, Москва, Зеленоград, к131А",
            "Россия, Москва, Ратная улица, 14В",
            "Россия, Москва, улица Верхние Поля, 15к2",
            "Россия, Москва, улица Каховка, 28",
            "Россия, Москва, улица Бориса Галушкина, 25",
            "Россия, Москва, Рублёвское шоссе, 12",
            "Россия, Москва, улица Золоторожский Вал, 6",
            "Россия, Москва, Ратная улица, соор6Г",
            "Россия, Москва, проезд Донелайтиса, 12к1",
            "Россия, Москва, улица Жебрунова, 4Ж",
            "Россия, Москва, улица Барышиха, 42к3",
            "Россия, Москва, Павловская улица, 8А",
            "Россия, Москва, Неманский проезд, 1",
            "Россия, Москва, Новоясеневский проспект, 4с1",
            "Россия, Москва, Новоорловская улица, 5А",
            "Россия, Москва, Ратная улица, 14В",
            "Россия, Москва, Новозаводская улица, 18",
            "Россия, Москва, Олонецкая улица, 21Ас2",
            "Россия, Москва, Новокузнецкая улица, 38с2",
            "Россия, Москва, Пронская улица, 4к3",
            "Россия, Москва, улица Борисовские Пруды, 22к1",
            "Россия, Москва, посёлок Рублёво, улица Василия Ботылёва, 1",
            "Россия, Москва, проспект Маршала Жукова, 4",
            "Россия, Москва, проспект Андропова, 22с3",
            "Россия, Москва, Семёновская набережная, 2/1",
            "Россия, Москва, улица Академика Капицы, 26к2с1",
            "Россия, Москва, улица Вилиса Лациса, 4",
            "Россия, Москва, Россошанская улица, 13",
            "Россия, Москва, улица Академика Капицы, 4",
            "Россия, Москва, улица Госпитальный Вал, 5к18",
            "Россия, Москва, Сходненская улица, 44/17",
            "Россия, Москва, улица Главмосстроя, 10",
            "Россия, Москва, Полярная улица, 34к3",
            "Россия, Москва, улица Академика Анохина, 30",
            "Россия, Москва, Суздальская улица, 16Б",
            "Россия, Москва, Песчаный переулок, 9А",
            "Россия, Москва, улица Академика Анохина, 38",
            "Россия, Москва, Подольская улица, 6",
            "Россия, Москва, улица Главмосстроя, 7",
            "Россия, Москва, улица Генерала Тюленева, 27соор1",
            "Россия, Москва, Перовская улица, 2",
            "Россия, Москва, Саянская улица, 13к3",
            "Россия, Москва, улица Главмосстроя, 14",
            "Россия, Москва, улица Зои и Александра Космодемьянских, 36А",
            "Россия, Москва, Суздальская улица, 26Б",
            "Россия, Москва, Нагорная улица, 5к4",
            "Россия, Москва, Медынская улица, 5к3",
            "Россия, Москва, Керамический проезд, 57А",
            "Россия, Москва, Ленская улица, 15с1",
            "Россия, Москва, Алма-Атинская улица, 9к3",
            "Россия, Москва, Крылатская улица, 29к3",
            "Россия, Московская область, Балашиха, микрорайон Железнодорожный, Автозаводская улица, 23",
            "Россия, Москва, Куликовская улица, 3",
            "Россия, Москва, Коктебельская улица, 4Г",
            "Россия, Москва, Медовый переулок, 6",
            "Россия, Москва, Алтуфьевское шоссе, 43с31",
            "Россия, Москва, Алтуфьевское шоссе, 18А",
            "Россия, Москва, Маломосковская улица, 27к2",
            "Россия, Москва, Кировоградская улица, 8к6",
            "Россия, Москва, Вешняковская улица, 6А",
            "Россия, Москва, Дорожная улица, 20А",
            "Россия, Москва, Верхнелихоборская улица, 4",
            "Россия, Москва, 2-я Филёвская улица, 14",
            "Россия ,Москва, 4-я ул. Марьиной Рощи, 12, корп. 1",
            "Россия, Москва, 3-й Красносельский переулок, 9А",
            "Россия, Москва, 2-я Звенигородская улица, 12с126",
            "Россия, Москва, Дмитровский переулок, 11",
            "Россия, Москва, Гурьевский проезд, 31к2",
            "Россия, Москва, Инженерная улица, 3",
            "Россия, Москва, Камчатская улица, 5А",
            "Россия, Москва, Каширское шоссе, 64к1",
            "Россия, Москва, Варшавское шоссе, 133А",
            "Россия, Москва, Балтийская улица, 8с15",
            "Россия, Москва, Вагоноремонтная улица, 9/25",
            "Россия, Москва, Варшавское шоссе, 28А",
            "Россия, Москва, Белозерская улица, 23А",
            "Россия, Москва, Кавказский бульвар, 17А",
            "Россия, Москва, Базовская улица, 20А",
            "Россия, москва, Зелёный просп, 22",
            "Россия, Москва, 1-я Вольская улица, 22к1",
            "Россия, Москва, 12-я Новокузьминская улица, 6к3",
            "Россия, Москва, район Капотня, 1-й квартал, 4",
            "Россия, Москва, 1-я Фрезерная улица, 2/1с8"
        ];
        for (var i = 0; i < addresses.length; i++) {
            geocodeAndAddMarker(addresses[i]);
        }
    }
    function geocodeAndAddMarker(address) {
        ymaps.geocode(address, { results: 1 }).then(function (res) {
            var coordinates = res.geoObjects.get(0).geometry.getCoordinates();
            var fullAddress = res.geoObjects.get(0).getAddressLine();
            var placemark = new ymaps.Placemark(coordinates, {
                balloonContent: fullAddress
            });
            placemarks.push(placemark);
            myMap.geoObjects.add(placemark);
        });
    }
    function geocodeAndAddMarkerFromInput() {
        var address = document.getElementById("addressInput").value;
        ymaps.geocode(address, { results: 1 }).then(function (res) {
            var coordinates = res.geoObjects.get(0).geometry.getCoordinates();
            var fullAddress = res.geoObjects.get(0).getAddressLine();

            var placemark = new ymaps.Placemark(coordinates, {
                balloonContent: fullAddress
            });
            placemarks.push(placemark);

            myMap.geoObjects.add(placemark);
            myMap.setCenter(coordinates, 15);

            updateCoordinatesOutput(coordinates, fullAddress);
        });
    }
    function updateCoordinatesOutput(coords, address) {
        var output = "Координаты: " + coords.join(', ');
        document.getElementById("coordinatesOutput").innerHTML = output;
    }
    function geocodeAndAddMarker(address) {
        ymaps.geocode(address, { results: 1 }).then(function (res) {
            var coordinates = res.geoObjects.get(0).geometry.getCoordinates();
            var fullAddress = res.geoObjects.get(0).getAddressLine();
            var placemark = new ymaps.Placemark(coordinates, {
                balloonContent: fullAddress
            });
            placemarks.push(placemark);
            myMap.geoObjects.add(placemark);
        });
    }
    ymaps.ready(initMap);
</script>
</body>
</html>
