<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/stylelogin.css">
    <title>User Info</title>
</head>
<body>
<section th:replace="fragments/LoginRedirect :: content"></section>

<section th:replace="fragments/EmailRedirect :: Code"></section>

<section th:replace="fragments/AddressRedirect :: address"></section>


<nav th:replace="~{fragments/NavigationBar :: navbar}"></nav>
<h1>User Information</h1>
<p>Username: <span th:text="${username}"></span></p>
<p>Address: <span th:text="${address}"></span></p>
</body>
</html>
