<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/stylelogin.css">
    <title>Title</title>
</head>
<body>
<section th:replace="fragments/LoginRedirect :: content"></section>
<section th:replace="fragments/EmailRedirect :: Code"></section>
<section th:replace="fragments/AddressRedirect :: address"></section>



<nav th:replace="~{fragments/NavigationBar :: navbar}"></nav>
<tr>
  <th>Ваш Feedback успешно отправлен и в скором времени будет рассмотрен</th>
</tr>
</body>
</html>