<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/stylelogin.css">
    <title>Title</title>
</head>
<body>
<section th:replace="fragments/LoginRedirect :: content"></section>
<section th:replace="fragments/AddressRedirect :: address"></section>


<nav th:replace="~{fragments/NavigationBar :: navbar}"></nav>
<h1> Мои Фидбеки</h1>
<ul>
    <li th:each="feedback : ${feedbackList}">
        <div>
            <strong>Имя:</strong> <span th:text="${feedback.title}"></span>
        </div>
        <div>
            <strong>Отзыв:</strong> <span th:text="${feedback.message}"></span>
        </div>
        <hr />
    </li>
</ul>
</body>
</html>